<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Buscar Película </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      placeholder="Buscard película"
      (ionChange)="search()"
      [value]="findText"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed *ngIf="searching">
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-spinner name="crescent"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="!(searchedMovies | async) && !searching ">
    <ion-list-header>
      <ion-label>ideas</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let idea of ideas" (click)="serachBar.value = idea">
      <ion-icon slot="start" name="time"></ion-icon>
      <ion-label color="medium">{{idea}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" *ngFor="let movie of searchedMovies | async">
        <ion-card (click)="showDetail(movie.id)">
          <img *ngIf="movie.poster_path" [src]="movie.poster_path | image" />

          <img src="" alt="" />
          <ion-card-header>
            <ion-card-subtitle>{{movie.release_date}}</ion-card-subtitle>
            <ion-card-title class="ion-text-center"
              >{{movie.title}}</ion-card-title
            >
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-list *ngIf="searchedMovies | async">
    <ion-list-header>
      <ion-label>Resultados</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let movie of searchedMovies | async ">
      <ion-label>{{movie.title}}</ion-label>
    </ion-item>
  </ion-list> -->
</ion-content>
