<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Buscar Película </ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-searchbar
    placeholder="Buscard película"
    (ionChange)="search()"
    [value]="findText"
    debounce="700"
  ></ion-searchbar>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <ion-grid fixed *ngIf="searching">
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-spinner name="crescent"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="!searching">
    <ion-list-header>
      <ion-label>ideas</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let idea of ideas" (click)="serachBar.value = idea">
      <ion-icon slot="start" name="time"></ion-icon>
      <ion-label color="medium">{{idea}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
