// div.laod-slide {
//   display: flex;
//   height: 300px;
// }

.swiper-wrapper {
  align-items: center;
}

.load-btn {
  --background: #3880ff !important;
  width: 50px;
  height: 50px;
  --border-radius: 50%;
}
