<swiper class="my-swiper" [config]="swiperConfig">
  <ng-template swiperSlide *ngFor="let pairs of movies | pairs">
    <ion-row>
      <ion-col size="12" *ngFor="let movie of pairs">
        <ion-card>
          <img class="poster" [src]="movie.poster_path | image" />
        </ion-card>
      </ion-col>
    </ion-row>
  </ng-template>
  <!-- <ng-template swiperSlide class="laod-slide">
    <ion-button class="load-btn" (click)="onClick()" color="primary">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
  </ng-template> -->
</swiper>
